.button{
    a, input{
        border-width: 2px;
        background: $theme-color;
        border-color: $theme-color;
        color: $white;
        position: relative;
        top: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        -webkit-box-shadow: 0 4px 20px -5px rgba(66,133,244,.4);
        box-shadow: 0 4px 20px -5px rgba(66,133,244,.4);
        font-size: 16px;
        border-radius: 30px;
        padding: 10px 30px;
    }
}    
.heading{
    .section-title{
        color: $black;
        font-size: 40px;
        font-weight: 900;
        @include media-breakpoint-down(xs){
            font-size: 24px;
        }
    }
    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7;
        color: gray;
    }
}    