<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-md-6 col-sm-12 hero-details">
                        <h1>Make Your Business More Profitable</h1>
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate facere
                            deleniti fuga officia.</p>
                        <div class="button">
                            <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 hero-details">
                        <img src="images/undraw_investing_7u74.svg" class="img-fluid">
                    </div>
                </div>
            </div>   
        </section> 
        <section id="features-section">
            <div class="container">
                <div class="row justify-content-center text-center animated fadeInRight">
                    <div class="col-lg-6 col-12 heading text-center  mb-5">
                        <h2 class="section-title">Imagine Features</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quos quaerat sapiente nam, id vero.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="fas fa-sync-alt"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>Marketing Consulting</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="fas fa-sitemap"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>Market Analysis</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.
                                </p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="fas fa-shopping-basket"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>Easy Purchase</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.
                                </p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="fas fa-window-restore"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>Free Updates</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="far fa-smile"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>100% Satistified</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.
                                </p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 features-box animated fadeInRight">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap">
                                    <i class="fas fa-plug"></i>
                                </span>
                            </div>
                            <div class="features-details">
                                <h3>Easy Plugin</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.
                                </p>
                                <p class="learn-more"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="feature-big">
            <div class="container">
                <div class="row animated fadeInRight feature-big-space">
                    <div class="col-md-6 col-sm-12 hero-details">
                        <img src="images/undraw_gift_card_6ekc.svg" class="img-fluid">
                    </div>
                    <div class="col-lg-6 ml-auto feature-big-deatils space">
                        <h2 class="text-black">Communicate and gather feedback</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem
                            molestias corrupti officia veniam.</p>
                        <div class="author-box aos-init aos-animate" data-aos="fade-left">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img src="images/person_4.webp" alt="Image" class="img-fluid rounded-circle">
                                </div>
                                <div class="mr-auto text-black">
                                    <strong class="font-weight-bold mb-0">Grey Simpson</strong> <br>
                                    Co-Founder, XYZ Inc.
                                </div>
                            </div>
                            <blockquote>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae ipsa asperiores inventore
                                aperiam iure?”</blockquote>
                        </div>
                    </div>
                </div>
                <div class="row animated fadeInRight feature-big-space">
                    <div class="col-lg-6 ml-auto feature-big-deatils">
                        <h2 class="text-black">Communicate and gather feedback</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem molestias corrupti
                        officia veniam</p>
                        <div class="author-box aos-init aos-animate" data-aos="fade-left">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img src="images/person_1.webp" alt="Image" class="img-fluid rounded-circle">
                                </div>
                                <div class="mr-auto text-black">
                                    <strong class="font-weight-bold mb-0">Kimberly Gush</strong> <br>
                                    Co-Founder, XYZ Inc.
                                </div>
                            </div>
                            <blockquote>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae ipsa asperiores inventore aperiam iure?”</blockquote>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 hero-details space">
                        <img src="images/undraw_metrics_gtu7.svg" class="img-fluid">
                    </div>
                </div>
                <div class="row animated fadeInRight feature-big-space">
                    <div class="col-md-6 col-sm-12 hero-details">
                        <img src="images/undraw_gift_card_6ekc.svg" class="img-fluid">
                    </div>
                    <div class="col-lg-6 ml-auto feature-big-deatils space">
                        <h2 class="text-black">Communicate and gather feedback</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem
                            molestias corrupti officia veniam.</p>
                        <div class="author-box aos-init aos-animate" data-aos="fade-left">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img src="images/person_4.webp" alt="Image" class="img-fluid rounded-circle">
                                </div>
                                <div class="mr-auto text-black">
                                    <strong class="font-weight-bold mb-0">Grey Simpson</strong> <br>
                                    Co-Founder, XYZ Inc.
                                </div>
                            </div>
                            <blockquote>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae ipsa asperiores
                                inventore
                                aperiam iure?”</blockquote>
                        </div>
                    </div>
                </div>
                <div class="row animated fadeInRight">
                    <div class="col-lg-6 ml-auto feature-big-deatils">
                        <h2 class="text-black">Communicate and gather feedback</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem
                            molestias corrupti
                            officia veniam</p>
                        <div class="author-box aos-init aos-animate" data-aos="fade-left">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img src="images/person_1.webp" alt="Image" class="img-fluid rounded-circle">
                                </div>
                                <div class="mr-auto text-black">
                                    <strong class="font-weight-bold mb-0">Kimberly Gush</strong> <br>
                                    Co-Founder, XYZ Inc.
                                </div>
                            </div>
                            <blockquote>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae ipsa asperiores
                                inventore aperiam iure?”</blockquote>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 hero-details space">
                        <img src="images/undraw_metrics_gtu7.svg" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container">
                <div class="row animated fadeInRight feature-big-space">
                    <div class="col-lg-12 heading-title text-center">
                        <h1>About Us</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 about-deatils">
                        <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2>
                        <p class="mb-4">Eos cumque optio dolores excepturi rerum temporibus magni recusandae eveniet, totam omnis
                            consectetur maxime quibusdam expedita dolorem dolor nobis dicta labore quaerat esse magnam unde, aperiam
                            delectus! At maiores, itaque.</p>
                        <ul class="ul-check mb-5 list-unstyled success">
                            <li><i class="fas fa-check"></i> Laborum enim quasi at modi</li>
                            <li><i class="fas fa-check"></i> Ad at tempore</li>
                            <li><i class="fas fa-check"></i> Labore quaerat esse</li>
                        </ul>
                        <p class="button"><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
            </div>
        </section>  
        <section id="team">
            <div class="container">
                <div class="row justify-content-center text-center animated fadeInRight">
                    <div class="col-lg-6 col-12 heading text-center  mb-5">
                        <h2 class="section-title">Our Team</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quos quaerat sapiente nam, id vero.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_1.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">Cloe Marena</h2>
                                <span class="sub-title d-block mb-3">President</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_2.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">John Rooster</h2>
                                <span class="sub-title d-block mb-3">MARKETING</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus
                                    perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_3.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">Will Turner</h2>
                                <span class="sub-title d-block mb-3">MARKETING</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus
                                    perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_4.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">Nicolas Stainer</h2>
                                <span class="sub-title d-block mb-3">FINANCING</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus
                                    perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_5.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">George Brook</h2>
                                <span class="sub-title d-block mb-3">FOUNDER</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus
                                    perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 team-space">
                        <div>
                            <div class="img-social">
                                <img src="images/person_6.webp" alt="" class="img-fluid">
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-deatils">
                                <h2 class="text-black h1">Emely Hopson</h2>
                                <span class="sub-title d-block mb-3">MARKETING</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus
                                    perspiciatis
                                    ipsa modi accusantium repellat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="testimonial text-center">
            <div class="container">
                <div class="section-title">
                    Testimonial
                </div>
                <div id="testimonial4"
                    class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
        
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial4_slide">
                                <img src="images/person_3.webp" class="img-circle img-responsive" />
                                <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat
                                    repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum
                                    unde iusto.”</p>
                                <strong>John Smith</strong>  
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="images/person_2.webp" class="img-circle img-responsive" />
                                <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque
                                    penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada." </p>
                                <strong>Robert Aguilar</strong>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="images/person_4.webp" class="img-circle img-responsive" />
                                <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna
                                    luctus risus, eu accumsan
                                    risus elit vitae lacus." </p>
                                <strong>Roger Spears</strong>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="images/person_1.webp" class="img-circle img-responsive" />
                                <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna
                                    luctus risus, eu accumsan
                                    risus elit vitae lacus." </p>
                                <strong>Kyle McDonald</strong>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </section>  
        <section id="blog">
            <div class="container">
                <div class="row justify-content-center text-center animated fadeInRight">
                    <div class="col-lg-6 col-12 heading text-center  mb-5">
                        <h2 class="section-title">Blog Posts</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="images/img_1.webp" class="img-fluid">
                        <div class="blog-details">
                            <h2>Make Your Business More Profitable</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis
                            reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="images/img_2.webp" class="img-fluid">
                        <div class="blog-details">
                            <h2>Make Your Business More Profitable</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis
                                reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="images/img_3.webp" class="img-fluid">
                        <div class="blog-details">
                            <h2>Make Your Business More Profitable</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis
                                reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section id="contact-section">
            <div class="container">
                <div class="row justify-content-center text-center animated fadeInRight">
                    <div class="col-7 heading text-center">
                        <h2 class="section-title">Contact <span>Us</span></h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 mb-5 contact-form">
                        <form action="#" class="p-5 bg-white">
                            <div class="row form-group">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label class="text-black" for="fname">First Name</label>
                                    <input type="text" id="fname" class="form-control rounded-0">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-black" for="lname">Last Name</label>
                                    <input type="text" id="lname" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="email">Email</label>
                                    <input type="email" id="email" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="subject">Subject</label>
                                    <input type="subject" id="subject" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="message">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0"
                                        placeholder="Leave your message here..."></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 button">
                                    <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>        
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>